* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url("/assets/img/fundo.png");
  background-color: #ffffff;
}


.memory-game {
  height: 640px;
  width: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* Quanto maior a perspectiva, maior o efeito 3D */
  perspective: 1000px;
}

.memory-game h1 {
  border: 2px solid;
  padding-left: 60px;
  padding-right: 90px;
  background-color: #ffffff;
}


.card {
  height: calc(33.333% - 10px);
  width: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(1,1,1,.3);
  cursor: pointer;
  transform: scale(1);
  /* Efeito 3D - o preverve-3D não deixa o elemento achatado no plano*/
  transform-style: preserve-3d; 
  transition: transform .9s;
}

.card:active {
  transform: scale(0.97);
  transition: transform .3s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #ffffff;
  /* Retira o verso do elemento e podemos ver ambos os lados */
  backface-visibility: hidden;
}

/* Deixa a carta com a front face aparecendo */
.card-front {
  transform: rotateY(180deg);
}

/* Flip card animation */
.card.flip {
  transform: rotateY(180deg)
}